﻿@model PizzaDotNet.Models.Cart

@{
    ViewBag.Title = "Cart";
}


@section Left{
    <h2>Cart</h2>
    <hr />
    @if (Model.CartItems.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Number</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in Model.CartItems)
                {
                    var modelId = @model.Id.ToString();
                    <tr id="item-@modelId">
                        <td>@Html.Name(model.MenuItem.Name)</td>
                        <td id="item-@modelId-price">@Html.Name(model.MenuItem.Price.ToString())</td>
                        <td>
                            @Html.TextBox("Count", model.Count, new { @class = "input-sm", type = "number", id = $"item-{modelId}-count" })
                            <div class="btn btn-primary edit-in-cart-button" style="cursor: pointer" data-id="@modelId">Update</div>
                        </td>
                        <td id="item-@modelId-subtotal">@Html.Name(model.Price.ToString())</td>
                        <td>
                            <div class="btn btn-danger remove-from-cart-button" style="cursor: pointer" data-id="@modelId">Remove</div>
                        </td>
                    </tr>
                }
                @if (Model.CartItems.Count > 0)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="total-price">@Model.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="jumbotron">
            <h2>Your cart is empty.</h2>
            <h4>Click @Html.ActionLink("Here", "Index", "Home") to go back and browse.</h4>
        </div>
    }
}

@section Right{
    @if (Model.CartItems.Count > 0)
    {
        <div class="category image-bg noselect">Cart</div>
        <hr />
        @Html.ActionLink("Checkout", "Checkout", "Order", null, new { @class = "btn btn-block btn-success" })
    }
}

@section scripts{
    <script>
        function UpdateCart(cart) {
            if (cart.Total === 0)
                location.reload();
            else {
                UpdateCartItems(cart.ItemsNumber);
                $("#total-price").text(cart.Total);
            }
        }

        function CartItemEdited(item) {
            Popup("alert-info", "Success!", "Item count in cart modified.");
            $(`#item-${item.Id}-count`)[0].defaultValue = item.Count;
            $(`#item-${item.Id}-subtotal`).text(item.Price);
        }

        function CartItemDeleted(id) {
            Popup("alert-info", "Success!", "Item deleted from cart.");
            $(`#item-${id}`).remove();
        }

        $(function () {
            $(".edit-in-cart-button").on("click",
                function (e) {
                    let id = e.target.dataset["id"];
                    let count = $(`#item-${id}-count`).val() - 0;

                    let request = $.ajax({
                        type: "PUT",
                        url: `/api/Cart/${id}?count=${count}`
                    });

                    request.done(function (cart) {
                        item = cart.CartItems.filter(ci => ci.Id == id)[0];
                        UpdateCart(cart);
                        if (!item)
                            CartItemDeleted(id);
                        else
                            CartItemEdited(item);
                    });

                    request.fail(function (xhr) {
                        ExceptionPopup(xhr);
                        $(`#item-${id}-count`).val($(`#item-${id}-count`)[0].defaultValue);
                    });
                }
            );

            $(".remove-from-cart-button").on("click",
                function (e) {
                    let id = e.target.dataset["id"];

                    let request = $.ajax({
                        type: "DELETE",
                        url: `/api/Cart/${id}`
                    });

                    request.done(function (cart) {
                        UpdateCart(cart);
                        CartItemDeleted(id);
                    })

                    request.fail(ExceptionPopup);
                }
            );
        })
    </script>
}
