﻿body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

.cart-button {
    display: inline !important;
}
    .cart-button:hover {
        text-decoration: none;
        text-shadow: 0 0 19px #3dff00;
    }

.cart-items-badge {
    background-color: #5cb85c;
    vertical-align: top;
    margin-top: 3px;
    margin-left: -32px;
    position: relative;
    pointer-events: none;
}

.food-info-icon {
    font-size: large;
    cursor: help;
}

footer {
    vertical-align: middle;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 0 15%;
    text-align: right;
}
    footer.navbar-inverse {
        color: #9d9d9d;
    }
    footer > * {
        margin: 0 auto;
    }

#right-column {
    margin-top: 20px;
}

.no-decoration {
    text-decoration: none !important;
    color: inherit;
}

.search-icon {
    display: inline;
    margin-left: -40px
}

.search-input {
    margin: 0 auto;
    display: inline-block;
    padding-right: 30px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.category {
    color: white !important;
    font-family: cursive;
    font-weight: bold;
    font-size: xx-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border-radius: 12px;
    padding: 30px 0;
    margin: 20px 0;
    text-align: center;
}

.image-bg {
    background-color: #ffffff55;
    background-size: cover;
    background-position-y: center;
    background-blend-mode: screen;
}
    .image-bg:hover {
        background-color: #ffffff25;
    }
    .image-bg:active {
        background-color: transparent;
    }

.animate-pop {
    animation: 1200ms pop 1;
}

@keyframes pop {
    15% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}