﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The public repository can be found <a href="https://gitlab.com/Leblayd/Pizza.NET">here</a></p>

<address>
    <strong>Developed by</strong>
    <a href="mailto:leblaydavid7@gmail.com">Leblay Dávid</a><br />
</address>