﻿@model PizzaDotNet.Models.Category

@{
    ViewBag.Title = "Details";
}

@section Left {
    <h2>@Html.Name(Model.NamePlural)</h2>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="text-center">Info</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in Model.MenuItems)
            {
                var modelId = @model.Id.ToString();
                // TODO replace the alert-info class with a custom, probably JS implementation
                <tr id="item-@modelId" class="@(ViewBag.SelectedId == model.Id ? "alert-info" : "")">
                    <td>@Html.Name(model.Name)</td>
                    <td>@Html.Name(model.Description)</td>
                    <td class="text-center">
                        @if (model.Vegetarian.GetValueOrDefault())
                        {
                            <span title="Vegetarian" class="food-info-icon noselect" style="color: green">&#129367;</span>
                        }
                        @if (model.Spicy.GetValueOrDefault())
                        {
                            <span title="Spicy" class="food-info-icon noselect" style="color: red">&#127798;</span>
                        }
                    </td>
                    <td>@Html.Name(model.Price.ToString())</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="btn btn-success add-to-cart-button" style="cursor: pointer" data-id="@modelId">Buy</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Right {
    <div class="text-center">
        <div class="category image-bg noselect" style="background-image: url(/Content/Images/@(Model.ImageName).jpg)">@Model.NamePlural</div>

        <hr />
        @if (!User.Identity.IsAuthenticated)
        {
            <strong>
                Please @Html.ActionLink("log in", "Login", "Account") or
                @Html.ActionLink("register", "Register", "Account") to be able to use the cart.
            </strong>
        }
        else if (int.Parse(Html.Action("ItemsNumber", "Cart").ToString()) > 0)
        {
            @Html.ActionLink("Checkout", "Checkout", "Order", null, new { @class = "btn btn-block btn-success" })
            @Html.ActionLink("Cart", "Index", "Cart", null, new { @class = "btn btn-block btn-primary" })
        }
        @Html.ActionLink("Go back", "Index", null, new { @class = "btn btn-warning btn-block" })
    </div>
}

@section scripts{
    <script>
        $(function () {
            $(".add-to-cart-button").on("click", function (e) {
                var request = $.ajax({
                    type: "POST",
                    url: `/api/Cart/${e.target.dataset["id"]}`
                });

                request.done(function (cart) {
                    Popup("alert-success", "Success!", "Item added to cart.");

                    UpdateCartItems(cart.ItemsNumber);
                });

                request.fail(ExceptionPopup);
            });
        })
    </script>
}