﻿@model IEnumerable<PizzaDotNet.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

@section Left{
    <div class="row text-center">
        <h1>Choose what you would like to eat</h1>
    </div>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <a class="row col-md-6 no-decoration category image-bg" style="background-image: url(/Content/Images/@(item.ImageName).jpg)"
               href="@Url.Action("Category", "Home", new { id = item.Id })">
                @item.NamePlural
            </a>
        }
    </div>
}

@section Right{
    <div class="text-center form-group">
        <label for="search" class="control-label" style="display: block">Search</label>
        <input id="search-input" name="search" class="form-control search-input"/>
        <a id="search-button" href="#" class="no-decoration btn search-icon">
            <i class="fas fa-search"></i>
        </a>
        <hr />
    </div>
    <div id="search-results"></div>
}

@section scripts{
    <script>
        function getSearchData() {
            let search = $("#search-input").val();
            let request = $.ajax({
                url: `/api/Items?search=${search}`
            });

            request.done((list) => fillWithData(list))
        }

        function fillWithData(list) {
            let results = $("#search-results");
            results.empty();
            if (list.menuItems[0]) {
                results.append(resultContainerHtml("Items"));
                for (let i in list.menuItems) {
                    let item = list.menuItems[i];
                    if (item.Category) { // temporary fix because Cézár saláta breaks everything
                        $("#search-results-Items").append(resultHtmlItem(item.Name, `/Home/Category/${item.Category.Id}?select=${item.Id}`));
                    }
                }
            }
            if (list.categories[0]) {
                results.append(resultContainerHtml("Categories"));
                for (let i in list.categories) {
                    let cat = list.categories[i];
                    $("#search-results-Categories").append(resultHtmlItem(cat.NamePlural, "/Home/Category/" + cat.Id));
                }
            }
        }

        function resultHtmlItem(name, link) {
            return `<div><a href=${link} class="animate-pop btn-lg">${name}</a></div>`;
        }

        function resultContainerHtml(name) {
            return `<div id="search-results-${name}" class="jumbotron" style="padding: 10px;"><h3>${name}</h3></div>`;
        }

        $(function () {
            $("#search-button").click(getSearchData);
            $("#search-input").keydown(event => {
                if (event.originalEvent.code === "Enter") getSearchData();
            });
        });
    </script>
}
