﻿<li>
    <a title="Cart" class="cart-button" href="@Url.Action("Index", "Cart")">
        <i class="fas fa-3x fa-shopping-cart"></i>
    </a>
    <div id="cart-items-number" class="badge progress-bar-success cart-items-badge">
        @Html.Action("ItemsNumber", "Cart")
    </div>
</li>