﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pizza.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pizza.NET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_CartPartial")
                        <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-lg-8 column" id="left-column"> @RenderSection("Left", false) </div>
        <div class="col-lg-4 column" id="right-column">@RenderSection("Right", false)</div>
        @RenderBody()
    </div>
    <footer class="navbar-inverse">
        <p>&copy; @DateTime.Now.Year - Pizza.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/fontawesome")
    @RenderSection("scripts", required: false)
</body>
</html>
